.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}

 h1{
  text-align: center;
 }
 h3{
  text-align: center;
 }
.name-container{
  display: flex;
  width: max-content;
  gap: 30px;
  justify-content: flex-start;
}
.name{
  display: flex;
}
.slot{
  display: flex;
  gap: 30px;
  justify-content: space-between;

}

Select Option{
  flex: 1;
}
.input{
  width: 100%;
  height: 50px;
}
label{
  visibility: hidden;
}

.msg-box{
  width: 100%;
}

h1{
  display: none;
}

@media(max-width:600px){
  h1{
    display: block;
  }
  h2, h3{
    display: none;

  }
  .form-container{
      max-width: 500px;
  }
  .name-container{
    display: flex;
    flex-direction: column;
  }
  .slot{
     display: flex;
     flex-direction: column;
  }
  label{
    visibility: visible;
  }
  .msg-box{
    width: 400px;
  }
}